#یعنی می خواهیم یو ار ال ها را تغییر دهیم
RewriteEngine on

 #الان در قانون زیر میگوییم اگر ایندکس و ریجستر  و .. نوشیتیم دیگر نیازی نیست دات پی اچ پی آن را بگذاریم و در ادامه قانون میگذاریم بزرگی و کوچکی حروف برات مهم نباشه وپی اچ پی را در انتها بگذار
RewriteRule ^(index|Register)$ $1.php [NC,L]
#الان درست عمل می مند اما وقتی صفحه مورد نظر باز می شود باز دوباره پسوند دات پی اچ پی را می آورد کهدر بالا درستش کردیم:

#الان می خواهیم زمانیکه ما روی پست کلیک کردیم فقط بنویسد پست و بعد شماره پست را بنویسید
RewriteRule ^Post/(\d+)$ Post.php?Pid=$1 [NC,L]
#وقتی از این روش استفاده می کنیم باید آدرس دهی سی اس اس  و جاواو اسکریپت خود را نام پوشه پروژه را به اول ان اضافه کنیم

RewriteRule ^index/Category/(\d+)$ index.php?catid=$1 [NC,L]
#برای نویسند چون عدد نیست نمیتوان بصورت بالا نوشت
RewriteRule ^index/Author/(.+)$ index.php?Author=$1 [NC,L]
RewriteRule ^index/Author/(.+)$/Page/(\d+)$ index.php?Author=$1&Page=$2 [NC,L]